.vscode/**
.vscode
build
build/**
**.*~

# Generated cmake targets
*.cmake
CMakeCache.txt
.clangd
.cache
CMakeFiles

*.swp

# Glad is commented out cause it's not used. We save the glad installation so that glad can't update without us, and for compatibility.
#glad
#glad/**
Headers/oglopp/glad/**
Headers/oglopp/glad/*.*
oglopp-app

docs/doxygen
docs/doxygen/**
vgcore*


